* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #f4f5fc;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 85%;
    width: 100%;
    // background-color: rgb(44, 44, 44);
    background-color: #24293e;
    display: flex;
    padding: 2vw 10vw;
    gap: 20px;

    #left{
        height: 100%;
        width: 45%;
        // background-image: url(https://feeds.abplive.com/onecms/images/uploaded-images/2022/02/02/e91482b274d719cb7bbaf4edc13f5053_original.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }
    #right{
        height: 100%;
        width: 55%;
        // padding-top: 20px;
        padding: 0.5vw 3vw;
        background-color: #2F3855;
        border-radius: 5px;

        h3{
            font-size: 50px;
            margin-bottom: 10px;
        }
        #all-song{
            height: 80%;
            width: 100%;

            .song-card{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                border-top: 1px solid #5a5a5a;


                .details{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    pointer-events: none;

                    img{
                        height: 45px;
                        width: 45px;
                        object-fit: cover;
                    }
                    h2{
                        font-size: 17px;
                    }
                }
                .time{
                    font-size: 14px;
                    pointer-events: none;
                }
            }

            .song-card:hover{
                background-color:  #3d4970;
                border-radius: 5px;
                cursor: pointer;
                scale: 1.01;
            }
            .song-card:active{
                scale: 0.99;
            }

            .song-card:nth-last-child(1){
                border-bottom: 1px solid #5a5a5a;
            }
        }
    }
}

#player{
    height: 15%;
    width: 100%;
    // background-color: black;
    // background-color: #24293e;
    background-color: #2F3855;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;


    h3{
        padding: 10px;
        // background-color: rgb(30, 30, 30);
        background-color: #24293e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            font-size: 20px;
            font-weight: 100;
        }
    }
    h3:hover{
        cursor: pointer;
        background-color: #4a5375;
    }
    h3:active{
        scale: 0.95;
    }
}